/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 1px;
    background-color: #ecf1f7;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 100;
}

.navbar.scrolled {
    background-color: #ecf1f7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.brand-name {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links {
    display: flex;
    list-style: none;
    transition: all 0.3s ease;
}

.navbar-links li {
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-links a {
    color: #555555;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #292929;
    transform: scale(1.05);
}

/* Mobile Navbar Toggle Button (9-dot grid) */
.navbar-toggle {
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 101;
    display: grid;
    grid-template-columns: repeat(3, 8px);
    grid-template-rows: repeat(3, 8px);
    gap: 1px;
}

.navbar-toggle span {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #333;
    border-radius: 50%;
}

.navbar-toggle.open .close-icon {
    font-size: 24px;
    color: #333;
    display: block;
    text-align: center;
}

/* Hide Toggle Button in Desktop View */
@media (min-width: 769px) {
    .navbar-toggle {
        display: none;
    }
}

/* Mobile Navbar Links Dropdown */
@media (max-width: 768px) {
    .navbar-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Position below the navbar */
        left: 0;
        background-color: #ecf1f7;
        width: 100%;
        height: 397%;
        max-height: 0; /* Initially hidden */
        overflow: hidden;
        align-items: flex-start; /* Align items to the left */
        padding-left: 20px;
        font-weight: bold; /* Bold font for mobile menu */
        transition: max-height 0.3s ease;
        z-index: 100;
    }

    .navbar-links.open {
        max-height: 300px; /* Adjust based on content height */
    }

    .navbar-links li {
        margin: 15px 0;
    }

    /* Close Icon Style */
    .navbar-toggle.open .close-icon {
        font-size: 24px;
        color: #333;
    }
    .navbar-brand{
        margin-left: 2vh;
    }
}
